.input {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #FFFFFF;
}

.container {
    width: 600px;
    margin: 56px 12px 32px 0px;
}

.form {
    display: flex;
}

.btn {
    border: 1px solid #DDDDDD;
    font-size: 16px;
    padding: 12px;
    cursor: pointer;
    background: #000000;
    border: 1px solid #000000;
    color: #FFFFFF;
}