.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 6px;
}

.title {
    font-weight: 700;
}

.name {
    font-weight: 500;
}

.btn {
    margin-left: 32px;
    margin-right: 32px;
    padding: 6px;
    background: #1ed760;
    color: white;
    border: #1ed760;
    border-radius: 13px;
    &:hover {
        color: 000000;
        font-weight: bold;
    }
}
