.btn {
    background-color: #000000;
    color: #FFFFFF;
    border-color: black;
    margin: 30px;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: 700;
    &:hover {
        background-color: #FFFFFF;
        color: #000000;
        border-color: #FFFFFF;
    }
}

.detailsCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
